<div class="card">
     <app-header 
>
  </app-header>
    <p-button 
    class=""
    (click)="showCreateUser()" label="Create User" severity="success" />
    <p-table *ngIf="users.length>0" [value]="users" [tableStyle]="{ 'min-width': '50rem','margin-top':'5px' }">
        <ng-template #header>
            <tr>
                <th>Edit</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Rol</th>
                <th>Status</th>
            </tr>
        </ng-template>
        <ng-template #body let-user>
            <tr>
                <td><p-button (onClick)="editUser(user)" label="Edit" severity="info" /></td>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{getRoleUser(user.id_role)}}</td>
                <td *ngIf="user.status==true"><p-button 
                 (onClick)="updateStatusUser(user)"   
                label="deactivate" severity="danger" /></td>
                <td *ngIf="user.status==false"><p-button
                 (onClick)="updateStatusUser(user)"   
                label="activate" severity="success" /></td>   
      
            </tr>
        </ng-template>
    </p-table>
</div>



<p-dialog header="{{titleDialog}}" [modal]="true" [(visible)]="visibleCreateUser" [style]="{ width: '22rem' }">

    <div class="form-grid">
        <form *ngIf="UsuarioForm" [formGroup]="UsuarioForm">
            <br>
            <div class="form-row">
                <label for="firstName">First Name</label>
                <input formControlName="first_name" pInputText id="firstName" autocomplete="off" />
            </div>
            <br>
            <div class="form-row">
                <label for="lastName">Last Name</label>
                <input formControlName="last_name" pInputText id="lastName" autocomplete="off" />
            </div>

            <br>
            <div class="form-row relative">
                <label for="pin">Pin</label>

                <div class="relative flex-1">
                    <input 
                    (input)="verifyPin()"
                    [type]="showPin ? 'text' : 'password'" formControlName="pin" pInputText id="pin"
                        autocomplete="off" class="w-full pr-20" />
                    <p-button label="Change" (click)="changePin()" severity="success" size="small"
                        class="!absolute right-1 top-1/2 -translate-y-1/2"></p-button>
                </div>
                <p *ngIf="duplicate_pin" style="color: red;">A matching PIN is already saved in the database, please choose another one.</p>
            </div>

            <br>
            <div class="form-row">
                <label for="id_role">Role</label>
                <p-select [options]="role_list" formControlName="id_role" optionLabel="name" optionValue="id_rol"
                    appendTo="body" placeholder="Select a role" class="w-full"></p-select>
            </div>

        </form>
    </div>

    <div class="flex justify-end gap-2 mt-6">
        <p-button *ngIf="!editingUser" [disabled]="UsuarioForm.invalid || duplicate_pin==true" label="Save" (click)="saveUser();visibleCreateUser = false"></p-button>
        <p-button *ngIf="editingUser" [disabled]="UsuarioForm.invalid || duplicate_pin==true" label="Save changes" (click)="updateUser();visibleCreateUser = false"></p-button>
    </div>
</p-dialog>