.form-grid {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* espacio vertical entre filas */
}

.form-row {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.form-row label {
  width: 110px; /* ← ajusta este valor según tus textos */
  font-weight: 600;
  text-align: right;
}

.form-row input {
  flex: 1;
}

::ng-deep .p-dropdown {
  width: 100% !important;
}

/* Contenedor para el input y el botón */
.input-with-button {
  position: relative;
  width: 100%;
}

/* Ajustar el input */
.input-with-button input {
  width: 100%;
  padding-right: 90px; /* espacio para el botón */
  box-sizing: border-box;
}


