body {
  font-family: 'Inter', sans-serif;
}

.p-toast {
  left: 50% !important;
  transform: translateX(-50%);
  top: 1rem !important;
  width: 100% !important;
  max-width: 90vw;
  z-index: 2000;
}

.p-toast-message {
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}